html {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background: #F3F5FC;
}

/* Header */
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 15px;

}

/* Main */
main {
  padding: 15px;
}

.right {
  width: 100%;
  height: auto;
  background: white;
  padding: 32px;
  margin-top: 15px;
  text-align: center;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}

#texto1 #texto2 {
  margin-left: 5%;
  margin-right: 5%;
}

#copiar {
  margin-left: 33%;
  margin-top: 90%;
  display: none;
  padding: 24px;
  width: 40%;
  height: 10%;
  background: #D8DFE8;
  border-radius: 24px;
}

.text-input {
  color: #0A3871;
  width: 100%;
  height: 100%;
  background: #F3F5FC;
  outline: none;
  border: none;
  font-size: 20px;
  overflow: auto;
  resize: none;
  text-align: justify;
}
.text-input::placeholder{
  text-align: center;
}
.text-input:focus{
  outline: none;
}

.left {
  width: 100%;
  height: 35vh;
  border-radius: 16px;
  margin-bottom: 20px;
}

.left-buttons {
  width: 100%;
  height: auto;
  border-radius: 24px;
}

#btn-encriptar {
  padding: 24px;
  width: 30%;
  height: 60%;
  background: #0A3871;
  border-radius: 24px;
  margin-left: 15%;
  color: #D8DFE8;
}

#btn-desencriptar {
  padding: 24px;
  width: 30%;
  height: 60%;
  background: #D8DFE8;
  border-radius: 24px;
  margin-left: 15%;
  color: #0A3871;
}

p {
  margin-left: 5%;
}

.logo {
  width: 100%;
  float: left;
}


.tittle {
  float: inherit;
  margin-left: 15%;
}

#texto2 {
  color: #0A3871;
  width: 98%;
  height: 60%;
  background: #fff;
  outline: none;
  border: none;
  font-size: 15px;
  text-align: center;
}

h4 {
  text-align: center;
  font-size: 1.2em;
}

i {

  margin-left: 15%;
  font-style: normal;
  margin-top: 1%;
  color: grey;
  width: 100%;
  margin-bottom: 2%;
}

/* ********tablet******** */
@media screen and (max-width: 600px){
  main,
  .header{
    padding: 35px 45px 45px 45px;
  }
  .header img{
    width: 50px;
  }
  .left{
    height: 45wh;
    margin-top: 60px;
  }
  .text-input{
    font-size: 1.7rem;
  }
  .left-buttons{
    display: flex;
    justify-content: center;
  }
  .buttons button{
    width: 50%;
    height: 80px;
  }
  .buttons button:last-child{
    margin-left: 20px;
  }
  .right{
    margin-top: 50px
  }
}

/* ****** Desktop ******** */
@media screen and (min-width: 1025px) {
  .right{
    position: absolute;
    top: 15px;
    right: 25px;
    width: 20vw;
    height: 90vh;
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-buttons, .left{
    width: 74%;
  }
  .left{
    margin-top: 30px;
  }
  .text-input::placeholder{
    text-align: start;
  }
  .img-container{
    width: 100%;
  }
  .img-container img{
    width: inherit;
  }
  i {
    float: left;
    margin-left: 15%;
    font-style: normal;
    margin-top: 1%;
    color: grey;
    width: 100%;
    margin-bottom: 2%;
  }
}