html {
  font-family: "Inter", sans-serif;
  margin: 0 10% 0 10%;
}

body {
  background: #f3f5fc;
}

/* Header */
header {
  width: 80vw;
  height: 10vh;
  align-items: center;
  padding: 15px 0px 0px 15px;
}
.tittle {
  width: 60vw;
  font-size: 1.3em;
  text-align: center;
}

/* Main */
.main-content {
  display: grid;
  grid-template-columns: 60vw 40vw;
}
.main-container {
  width: 60vw;
  height: 80vh;
  display: grid;
  border-radius: 24px;
}
/*Left Section*/
.left {
  width: 60vw;
  height: 65vh;
  border-radius: 16px;
}
.text-input {
  margin-left: 2%;
  color: #0a3871;
  width: 57.5vw;
  height: 65vh;
  background: #f3f5fc;
  outline: none;
  border: none;
  font-size: 20px;
  overflow: auto;
  resize: none;
  text-align: justify;
  margin-top: 1%;
}
.text-input::placeholder {
  text-align: center;
}
.text-input:focus {
  outline: none;
}
/*Right Section - Output text*/
.right {
  width: 20vw;
  height: 80vh;
  background: white;
  background-image: url(./img/Muñeco.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  background-position: 50% 30%;
}
.right h2 {
  align-content: middle;
}
.texto1 .texto2 {
  margin-left: 5%;
  margin-right: 5%;
}
.texto1 {
  margin-top: 42vh;
}
.texto2 {
  resize: none;
  width: 96%;
  height: 40%;
  margin-top: 2vh;
  text-align: center;
  border: 0px;
}
.btn-copiar {
  margin: 33vh 3% 0 4%;
  display: none;
  text-align: center;
  vertical-align: middle;
  width: 90%;
  height: 9%;
  background: #d8dfe8;
  border-radius: 24px;
}
.text-input:focus {
  outline: none;
}
/*Information*/
i {
  font-style: bold;
  margin-top: 2%;
  color: grey;
  width: 60vw;
  margin: 0 0 0.5% 12%;
  height: 20px;
}
/*Buttons*/
.left-buttons {
  width: 60vw;
  height: auto;
  border-radius: 24px;
  margin-bottom: 5vh;
}
.btn-encriptar {
  width: 20vw;
  height: 7vh;
  background: #0a3871;
  border-radius: 24px;
  margin: 1.5% 0 0 12%;
  color: #d8dfe8;
}
.btn-encriptar:hover{
  background: #0e50a1;
}
.btn-desencriptar {
  width: 20vw;
  height: 7vh;
  background: #d8dfe8;
  border-radius: 24px;
  margin-left: 5%;
  color: #0a3871;
}

/*Footer*/
footer {
  margin-bottom: 1%;
  margin-top: 1%;
}

h4 {
  text-align: center;
  font-size: 1.2em;
}

/* **********TABLET********** */
@media screen and (max-width: 1020px) {
  header {
    height: 6vh;
  }
  .main-content {
    display: grid;
    grid-template-columns: 100vw;
  }
  .main-container {
    width: 80vw;
    height: 56vh;
  }
  .left {
    width: 80vw;
    height: 52vh;
  }
  .text-input {
    font-size: 1.7rem;
    width: 77vw;
    height: 54vh;
  }
  .left-buttons {
    margin-top: 2%;
    width: 80vw;
  }
  .btn-encriptar {
    width: 30vw;
    height: 100%;
  }
  .btn-desencriptar {
    width: 30vw;
    height: 100%;
  }
  .right {
    margin-top: 9%;
    height: 20vh;
    background-image: none;
    width: 80%;
  }
  .texto1 {
    margin: 4% 0 0 0;
  }
  .texto2{
    margin: 5% 0 0 0;
    height: 40%;
  }
  .btn-copiar{
    margin: 0% 30% 0 30%;
    width: 40%;
    height: 20%;
  }
  .btn-copiar:hover{
    background: white;

  }
  h4 {
    font-size: 0.8em;
    width: 100%;
    text-align: center;
  }
}

/* **********PHONE********** */
@media screen and (max-width: 768px) {
  .main-container {
    width: 80vw;
    height: 40vh;
  }
  .left {
    width: 80vw;
    height: 36vh;
  }
  .text-input {
    font-size: 1.7rem;
    width: 77vw;
    height: 38vh;
  }
  .left-buttons {
    margin-top: 2%;
    width: 80vw;
  }
  .btn-encriptar {
    width: 80%;
    height: 100%;
  }
  .btn-desencriptar {
    margin: 1% 0 0 12%;
    width: 80%;
    height: 100%;
  }
  .right {
    margin-top: 40%;
    background-image: none;
  }
  .btn-copiar{
    margin: -1% 10% 0 10%;
    width: 80%;
    height: 45%;
  }
  h4 {
    margin-top: 2%;
  }
}